
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>So, who am I?</h1>

<div class="d-flex flex-column flex-md-row justify-content-center align-items-center gap-3">
    <p>
        My name is Brett Ryan. I'm a software developer from Uitenhage, Eastern Cape who loves to design and build web based solutions.<br /><br />

        I'm studying a 3 year Software Development course at CTU Training Solutions in Port Elizabeth. My studies conclude at the end of October 2025 after the submission of my final Work Integrated Learning project with an outcome of a National Certificate in Information Technology: Database Development, NQF 6, SAQA ID 71850. I'm planning on studying towards a Bachelor of Science in Computing at UNISA, starting 2026. <br /><br />

        When I'm not coding, I love playing my favourite video game Tom Clancy's Rainbow Six Siege, reading novels, training MMA with my buddies, and going to the gym. <br /><br />

        My passion for tech started in my first class of Computer Applications and Technology (CAT) class in grade 10 of high school. In grade 12, I wrote my first HTML web page. This was the moment I knew I wanted to become a programmer. <br /><br />

        Although I have studied a variety of technologies in college, my core skills include C#, ASP.NET Core, Java, and SQL Server.
    </p>
    <img class="AboutImg" src="~/ProfilePicture.png" alt="Myself" />
</div>

