
@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm border-0 rounded-3 p-4 text-center">
                <h1 style="margin-top: 0;">Get in Touch</h1>
                <p>I'm always open to new opportunities, collaborations, or just a chat.</p>
                <div class="d-flex justify-content-center gap-3">
                    <a href="mailto:brettryan170@gmail.com" class="contact-link">
                        <img class="emailImg" src="~/email - Copy.png" alt="Gmail" />
                    </a>
                    <a href="https://github.com/brexhie" target="_blank" class="contact-link">
                        <img class="githubImg" src="~/github - Copy.png" alt="GitHub" />
                    </a>
                    <a href="https://www.linkedin.com/in/brett-ryan-634000238" target="_blank" class="contact-link">
                        <img class="linkedinImg" src="~/linkedin - Copy.png" alt="LinkedIn" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>





