@{
    ViewData["Title"] = "Projects";
}
<h1>@ViewData["Title"]</h1>

<div class="container my-5">
    <div class="row g-4">
        <div class="col-md-6 col-lg-4">
            <div class="card project-card shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Volkswagen WIL Project</h5>
                    <p class="card-text">Shadowed the development of internal IT systems at VW South Africa as part of a Work Integrated Learning project.</p>
                    <p>Tech Stack:</p>
                    <ul>
                        <li>C#</li>
                        <li>ASP.NET Core</li>
                        <li>SQL Server</li>
                        <li>HTML + CSS</li>
                        <li>JavaScript</li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="col-md-6 col-lg-4">
            <!-- Another Project Card -->
        </div>
    </div>
</div>

